
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

/* Portrait layout (default) */
.app {
    /*background:url(../img/logo.png) no-repeat center top;*/ /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    /*padding:180px 0px 0px 0px;*/     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

.battery {
    display: inline-block;
    width: 4.5em;
    height: 10em;
    border: 1em solid white;
    border-width: .5em 1em;
    box-shadow: 0 0 0 1.5em black;
    
    margin: 4em 1.5em 1.5em;
    
    position: relative;
    background-color: limegreen;
    background-image: linear-gradient(180deg,
      white .5em,
      white .5em,
      transparent .5em,
      transparent 2em,
      white 2em,
      white 3em,
      transparent 3em,
      transparent 4.5em,
      white 4.5em,
      white 5.5em,
      transparent 5.5em,
      transparent 7em,
      white 7em,
      white 8em,
      transparent 8em,
      transparent 9.5em,
      white 9.5em
    );
    background-size: 100%;
}
.battery:before {
    position: absolute;
    top: -4.5em;
    left: 0em;
    display: block;
    background: black;
    width: 4.5em;
    height: 1.5em;
    content : "";
    
    border-radius: 1em 1em 0 0;
}
.battery:after {
    position: absolute;
    top: 0em;
    left: 0em;
    display: block;
    background: white;
    width: 4.5em;
    height: 0;
    content : "";
}
.battery.level-75:after {
    height: 2em;
}
.battery.level-50:after {
    height: 4.5em;
}
.battery.level-50 {
    background-color: orange; 
}
.battery.level-25:after {
    height: 7em;
}
.battery.level-25 {
    background-color: red;
}
.battery.level-0:after {
    height: 9.5em;
}